table {
    table-layout: fixed;
    width: 1000px;
    border-collapse: collapse;
    border: 1px solid rgb(83, 83, 83);
    text-align: left;
  }
    thead th:nth-child(1) {width: 35%;}
    thead th:nth-child(2) {width: 30%;}
    thead th:nth-child(3) {width: 20%;}
    thead th:nth-child(4) {width: 15%;}
    th, td {padding: 5px;}