<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Add Comment</title>
    <link rel="stylesheet" href="{% static 'course/css/styles.css' %}">
</head>
<body>
    <a href='/'>Back to Courses</a>
    <div class="wrapper">
        <h1>Course: {{course.name}}</h1>
        <form action="/add_comment/{{course.id}}" method="POST">
            {% csrf_token %}
            <p>Comment: <textarea rows="4" cols="50" name="comment"></textarea></p>
            <input type="submit" value="Add Comment">
        </form>
        <h1>Comments:</h1>
        {% for each in comments %}
        <p>{{each.comment}}</p>
        <p>Post: {{each.created_at}}</p> 
        <p>-----------------------------------------------------</p>         
        {% endfor %}
    </div>
</body>
</html>