<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Delete a course</title>
    <link rel="stylesheet" href="{% static 'course/css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Are you sure you want to delete the following course?</h1>
        <p>Name: {{course.name}}</p>
        <p>Description: {{course.course_desc.description}}</p>
        <a href='/'>No</a>
        <form action="/delete/{{course.id}}">
            {% csrf_token %}
            <input type="submit" value="Yes! I want to delete this">
        </form>
    </div>
</body>
</html>