<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="{% static 'course/css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Add a new course</h1>
        {% if messages %}
            {% for each in messages %}
                <li class="red">{{each}}</li>
            {% endfor %}
        {% endif %}
        <form action="/add_course" method="POST">
            {% csrf_token %}
            <p>Name: <input type="text" name="name"></p>
            <p>Description: <textarea rows="4" cols="50" name="desc"></textarea></p>
            <input type="submit" value="Add">
        </form>
        <h1>Courses</h1>
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for each in course %}
                <tr>
                    <td>{{each.name}}</td>
                    <td>{{each.course_desc.description}}</td>
                    <td>{{each.created_at}}</td>
                    <td><a href='/delete_course/{{each.id}}'>remove</a> <a href='/comment_course/{{each.id}}'>comment</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>